* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #f754a5;
  font-family: "Franklin Gothic Medium";
  background: linear-gradient(pink, antiquewhite);
  font-size: 2rem;
}

h2 {
  color: #f754a5;
  font-family: "Franklin Gothic Medium";
  background: linear-gradient(pink, antiquewhite);
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  color: #1e90ff;
  background-color: aliceblue;
}

p {
  font-family: "Franklin Gothic Medium";
  background-color: rgba(80, 82, 82, 0.137);
}

div {
  padding: 30px;
  margin: 70px;
}

body {
  display: grid;
  background-color: antiquewhite;
}

.align {
  text-align: center;
  padding: 15px;
}

p:hover {
  background-color: rgba(255, 105, 180, 0.39);
  transition-duration: 2s;
}

.menu:hover {
  background-color: rgba(255, 105, 180, 0.39);
  transition-duration: 2s;
}

@media (max-width: 480px) {
  header {
    display: grid;
    font-size: medium;
  }
  .section1 {
    font-size: x-large;
  }
  .section2 {
    display: grid;
  }
  main {
    font-size: x-large;
  }
  .banner_text {
    width: 100%;
  }
  .caja1 {
    display: grid;
    font-size: large;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 700px) {
  .section2 {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: large;
  }
  .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: large;
  }
}
@media (max-width: 550px) {
  .menu {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
/* Header */
header {
  text-decoration: none;
  background-color: antiquewhite;
  color: hotpink;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 20px;
}

/*fin del header*/
/*main*/
.equipaje__img {
  width: 100%;
  align-items: center;
}

.docs__img {
  width: 60%;
  align-items: center;
}

.section1 {
  font-size: large;
  text-align: center;
  background-color: none;
  list-style-type: none;
}

.section3 {
  font-size: large;
  text-align: center;
  border-width: 3px;
  display: grid;
}

.disneysect__img {
  width: 100%;
}

.parissect__img {
  width: 100%;
}

.nysect__img {
  width: 100%;
}

/*fin del main*/
/*footer*/
footer {
  background-color: antiquewhite;
  padding: 20px;
  justify-content: justify;
  text-align: center;
}

/*fin del footer*/
/*banner*/
.banner {
  background-image: url("../resources/sunset.jpg");
  text-align: center;
  font-size: large;
  border-color: antiquewhite;
  border-width: 3px;
  border-style: solid;
}

.banner_text {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(235, 162, 190, 0.425);
  padding: 15px;
  border: 2px solid bisque;
}

/*fin section banner*/
.section2 {
  font-size: large;
  text-align: center;
  border-width: 3px;
  display: grid;
}

/*page viajes*/
.viajes__disney, .viajes__bodrum, .viajes__liubliana, .viajes__islasgalapagos, .viajes__paris, .viajes__ny {
  text-align: left;
  font-size: large;
  border-width: 3px;
  background-color: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*fin page viajes*/
.disney_img {
  width: 80%;
}

.ny_img {
  width: 80%;
}

.paris_img {
  width: 80%;
}

.londres_img {
  width: 90%;
}

.islas_img {
  width: 80%;
}

.liubliana_img {
  width: 80%;
}

.bodrum_img {
  width: 90%;
}

.shangai_img {
  width: 90%;
}

th:hover {
  background-color: rgba(255, 105, 180, 0.39);
  transition-duration: 2s;
}

td:hover {
  background-color: rgba(255, 105, 180, 0.39);
  transition-duration: 2s;
}

fieldset {
  background-image: url(../resources/sunset.jpg);
  color: white;
}

/*# sourceMappingURL=style.css.map */
